<nav class="mobile-menu-nav" aria-label="Mobiles Menü">
  <ul class="mobile-menu-list">
    <li><a href="/pages/index.html" data-nav="index">Start</a></li>
    <li><a href="/pages/japan.html" data-nav="japan">Japan</a></li>

    <li class="mobile-group">
      <span class="mobile-group-label">Städte</span>
      <ul class="mobile-sub">
        <li>
          <a href="/pages/staedte/tokyo.html" data-nav="tokyo"
            >Tokyo</a
          >
        </li>
        <li>
          <a
            href="/pages/staedte/kanazawa.html"
            data-nav="kanazawa"
            >Kanazawa</a
          >
        </li>
        <li>
          <a href="/pages/staedte/kyoto.html" data-nav="kyoto"
            >Kyoto</a
          >
        </li>
        <li>
          <a
            href="/pages/staedte/hiroshima.html"
            data-nav="hiroshima"
            >Hiroshima</a
          >
        </li>
        <li>
          <a href="/pages/staedte/osaka.html" data-nav="osaka"
            >Osaka</a
          >
        </li>
      </ul>
    </li>

    <li>
      <a href="/pages/wer-sind-wir.html" data-nav="about">Wer sind wir</a>
    </li>
  </ul>
</nav>
